In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.decomposition import PCA
from scipy.stats import entropy

In [2]:
df = pd.read_csv("exams.csv")
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group D,some college,standard,completed,59,70,78
1,male,group D,associate's degree,standard,none,96,93,87
2,female,group D,some college,free/reduced,none,57,76,77
3,male,group B,some college,free/reduced,none,70,70,63
4,female,group D,associate's degree,standard,none,83,85,86
...,...,...,...,...,...,...,...,...
995,male,group C,some college,standard,none,77,77,71
996,male,group C,some college,standard,none,80,66,66
997,female,group A,high school,standard,completed,67,86,86
998,male,group E,high school,standard,none,80,72,62
999,male,group D,high school,standard,none,58,47,45

In [3]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [4]:
df.duplicated().sum()

0

In [6]:
for col in df.columns:
  number_values = df[col].nunique()
  unique_values = df[col].unique()
  print("---------------------------")
  print(f"Col is {col}")
  print(f"Number of values: {number_values}")
  print(f"Number of values: {unique_values}")

---------------------------
Col is gender
Number of values: 2
Number of values: ['female' 'male']
---------------------------
Col is race/ethnicity
Number of values: 5
Number of values: ['group D' 'group B' 'group C' 'group E' 'group A']
---------------------------
Col is parental level of education
Number of values: 6
Number of values: ['some college' "associate's degree" 'some high school'
 "bachelor's degree" "master's degree" 'high school']
---------------------------
Col is lunch
Number of values: 2
Number of values: ['standard' 'free/reduced']
---------------------------
Col is test preparation course
Number of values: 2
Number of values: ['completed' 'none']
---------------------------
Col is math score
Number of values: 79
Number of values: [ 59  96  57  70  83  68  82  46  80  74  53  76  55  56  35  87  65  66
  67  89  99  58  90  69  32  86  52  63  62  79  71  61  75  73  64  23
  41  84  85  88  91  51 100  48  98  72  43  50  38  81  47  49  44  60
  93  77  20  78  94  39  42  54  37  45  27  92  95  34  97  31  40  33
  21  25  28  15  24  30  36]
---------------------------
Col is reading score
Number of values: 71
Number of values: [ 70  93  76  85  57  83  61  75  69  50  74  73  54  46  47  92  82  71
  66  88  52  79  87  81  78  35  53  56  77  72  67  64  86  68  34  91
  62  33  58  49  80  89  97  65  51  96  84  90  95  55  60  99  45  63
  98  40  94  59  48  25  39  43  44  27 100  42  30  32  38  41  37]
---------------------------
Col is writing score
Number of values: 74
Number of values: [ 78  87  77  63  86  54  80  58  73  69  49  76  70  52  43  41  81  85
  74  62  71  88  72  51  59  79  75  37  82  48  67  65  90  68  56  84
  61  93  66  36  57  33  46  89  95  42  91  60  38  83  97  64  53 100
  55  47  50  94  44  99  92  15  40  98  19  96  35  32  26  28  45  27
  30  23]